@use 'media-query' as screens;


@mixin container-fluid($paddingLeft, $paddingRight) {
    max-width: 100%;
    margin: 0 auto;
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
}

@mixin spacer-y {
    padding-top: min(6.5rem, 20vw);
    padding-bottom: min(6.5rem, 20vw);
}

@mixin grid {
    display: flex;
    flex-wrap: nowrap;
}

@mixin cell {
    flex: 0 0 50%;
    max-width: 50%;
}

@mixin text-sm {
    font-size: 0.75rem;
}

@mixin cell {
    flex: 0 0 50%;
    max-width: 50%;
}


// media query
@mixin mediaQuery($screen) {
	$size: map-get(screens.$breakpoints, $screen);

	@media only screen and (min-width: $size) {
		@content;
	}
}